let mapleader=","
"----------------------------------------------------------------
" Copy
"----------------------------------------------------------------
set clipboard+=unnamed
"----------------------------------------------------------------
" Text format
"----------------------------------------------------------------
set wrapscan " Searches wrap around end of file
set timeoutlen=250
set history=256 " Number of things to remember in history.
"----------------------------------------------------------------
" UI
"----------------------------------------------------------------
set number
set visualbell " Use visual bell instead of audible bell (annnnnoying)
"----------------------------------------------------------------
" Searching
"----------------------------------------------------------------
set ignorecase
set smartcase
set hlsearch
set incsearch
set gdefault
"----------------------------------------------------------------
" Mapping
"----------------------------------------------------------------
nnoremap <leader>w :w<CR>
nnoremap <leader>q :q<CR>

inoremap <C-g> <ESC>
vnoremap <C-g> <ESC>
nnoremap <C-g> <ESC>
nnoremap <CR> o<Esc>

nnoremap // :nohlsearch<CR>
nnoremap <Space><Space> :action Switcher<CR>

"copy key binding
noremap <Space>d yyp<Esc>
noremap <Space>g :action Vcs.QuickListPopupAction<CR>

"formatting
nnoremap < <<
nnoremap > >>

" Speed up viewport scrolling
nnoremap <C-e> 6<C-e>
nnoremap <C-y> 6<C-y>

" remove gap between line quickly
nnoremap ; <S-j>
"----------------------------------------------------------------
" Extension
"----------------------------------------------------------------
set surround
