let mapleader=","
"----------------------------------------------------------------
" Copy
"----------------------------------------------------------------
set clipboard+=unnamed
"----------------------------------------------------------------
" Text format
"----------------------------------------------------------------
set wrapscan " Searches wrap around end of file
set timeoutlen=250
set history=256 " Number of things to remember in history.
"----------------------------------------------------------------
" UI
"----------------------------------------------------------------
set number
set visualbell " Use visual bell instead of audible bell (annnnnoying)
"----------------------------------------------------------------
" Searching
"----------------------------------------------------------------
set ignorecase
set smartcase
set hlsearch
set incsearch
set gdefault
"----------------------------------------------------------------
" Mapping
"----------------------------------------------------------------
nnoremap <leader>w :w<CR>
nnoremap <leader>q :q<CR>

imap <c-g> <ESC>
nnoremap <CR> o<Esc>

nnoremap // :nohlsearch<CR>

"copy key binding
noremap <Space>d yyp<Esc>

"formatting
nnoremap < <<
nnoremap > >>

"fast jumping for edit
inoremap <C-e> <C-o>$

" Speed up viewport scrolling
nnoremap <C-e> 6<C-e>
nnoremap <C-y> 6<C-y>

" remove gap between line quickly
nnoremap ; <S-j>

" fast move between window
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
